body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 19px;


}

.row1 {
    height: 100vh;
    background: white;
    padding: 0;
}

.sections {
    position: absolute;
    width: 100%;
    height: 97px;
    left: 15px;
    top: 0px;

    margin-left: 0vh;
    margin-right: 0vh;
}
.rec {

    position: absolute;
    width: 100%;
    height: 3vmax;


    background: #FFFFFF;
    border: 1px solid rgba(182, 182, 182, 0.59);
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}



.deca{
    height: 100vh;
    background: #d3d9df;
    padding: 0;
}

.ria{
    margin-left: 22vmax;
    margin-top: 2vmax;
}



.th4 input {
    margin: 1vmax;
}

.divi p {
    float: left; /*Задаем обтекание*/

    margin:1vmax;
}


.divi{
    float: left; /*Задаем обтекание*/

    margin: 1vmax;
}
