
@media(min-width : 768px) {

    .gen{
        vertical-align: center;
        top: 1vh;
        font-size: 1.25em;
    }
}

@media(min-width : 992px) {

    .gen{
        vertical-align: center;
        top: 2vh;
        font-size: 1.25em;
    }
}

@media(min-width : 1200px) {

    .gen{
        vertical-align: center;
        top: 3vh;
        font-size: 1.25em;
    }
}

@media(min-width : 420px) {

    .gen{
        vertical-align: center;
        top: 1vh;
        font-size: 1.25em;
    }
}