*{
    margin: 0;
    padding: 0;
}*

.ver body{
     font-family: Verdana, Geneva, sans-serif;
     font-size: 14px;
     color: #333;
     text-align: center;
     padding: 50px;
 }

.container{
    width: 70%;
    margin: 0 auto;
}
.ver h4{
    background: purple;
    color: #fff;
    padding: 10px 0 10px 10px;
    margin-bottom: 3px;
    text-align: left;
    cursor: pointer;
}
.ver h5{
    margin-bottom: 40px;
}
.container div{
    background: #eaeaea	;
    text-align: left;
    padding: 20px;
    margin-bottom: 10px;
}