.name{
    font-size: 1.5vw;
    font-family: 'Roboto', serif;

    color: black;
    margin-left: 1vmax;
    margin-top: 1vmax;
}

.input-name{

    font-size: 1.6vw;


    margin-left: 1vmax;

    border: none;
    background-color: white;

    height: 3vmax;
    width: 20vmax;
}

.hr-name{
    background-color: grey;

    width: 20vmax;
    height: 2px;
    margin-left: 1vmax;



    outline: none;

}

.gen-div{
    width:100%;
    height: 40vmax;
}

.secname{
    font-size: 1.5vmax;
    font-family: 'Roboto', serif;


    margin-left: 1vmax;
    margin-top: 1vmax;
}

.div-secname{
    width: 100%;
    height: 10vmax;

    margin-left: 3vmax;
    margin-top: 3vmax;
    position: relative;
}

.input-secname{


    margin-left: 1vmax;

    font-size: 1.6vw;

    border: none;
    background-color: white;

    height: 3vmax;
    width: 20vmax;
}

.sername-div{
    background-color: grey;

    width: 20vmax;
    height: 2px;
    margin-left: 1vmax;

}

